/* .App {
  text-align: center;
} */

/* General styling to reset some default browser styles */
.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; /* This will remove underlines from links */
  font-family: Arial, sans-serif; /* A basic font for our site */
}
