/* Base styles */
body,
html {
  font-family: "Arial", sans-serif;
  line-height: 5.5;
  color-scheme: dark;
  height: 100%; /* Ensure body takes the full height of viewport */
  margin: 0; /* Remove any default margin */
}

.logo img {
  max-width: 400px;
  max-height: 300px;
  opacity: 0.9;
}

.grid-container {
  display: flex;
  margin: 20px 0;
  gap: 20px;
  height: 100vh;
  background-color: #313131;
  max-height: calc(100vh - 245px);
  overflow: hidden;
  position: relative;
}

.left-panel,
.middle-panel,
.right-panel {
  flex: 1;
  padding: 20px;
  background-color: rgba(173, 216, 230, 0.3);
  border: 1px solid rgba(173, 216, 230, 0.5);
  border-radius: 8px;
  overflow-y: auto;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  border: 2px solid #000;
  overflow: hidden;
}

.left-panel {
  order: 1;
}

.middle-panel {
  order: 2;
}

.right-panel {
  order: 3;
}

.extensible-panel {
  background-color: rgba(135, 206, 250, 0.3);
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(135, 206, 250, 0.5);
  border-radius: 6px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.extensible-panel:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

/* If there's an element above .grid-container pushing it down, reduce its bottom margin */
.some-element-above-grid {
  margin-bottom: 10px;
}
